* {
	box-sizing: border-box;
}

body{
    background-color: #f3f3f3;
}

.mobile{
    width: 375px;
    height: auto;
}

.firstLayer{
    width: 375px;
    height: auto;
    background-color: #f3f3f3;
}

.secondLayer{
    width: 375px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 5;  
    display: flex;  
}

.blackTransparent{
    width: 100px;
    height: 500vw;
    background-color: rgba(0,0,0,0.5);
}

.sideMenu{
    width: 275px;
    height: 500vw;
    background-color: white;
}

.headerSideMenu{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color:  black;
    font-weight: 700; 
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.textTodos, .textUser, .textType{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color:  black;
    font-weight: 400;     
}

.headerTwoSideMenu{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color:  black;
    font-weight: 700; 
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.checkSideMenuOptionType, .checkSideMenuOptionUser{
    color: #28bb25;
    margin-right: 27px;
    font-size: 17px;
}

.sideMenuOption{
    display: flex;
    justify-content: space-between;
}

.iconUserSideMenuOption{
    display: flex;
    margin-left: 18px;
    justify-content: center;
    cursor: pointer;
}

.toFromType{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color:  #505050;
    font-weight: 300;   
    margin-top: 9px; 
}



.iconUser, .iconTodos, .iconPublic, .iconPrivate{
    font-size: 21px;
    margin-right: 8px;
}



.nickAlreadyUsed{
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color:  black;
    font-weight: 700;
}

.textLoading{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color:  black;
    font-weight: 700;  
    text-align: center;  
}

.login{
    width: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gifAndTextLoading{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login img{
    /* margin-left: 122px; */
    margin-top: 72px;
    margin-bottom: 94px;
}

.gifLoading img{
    margin-top: 60px;
    margin-bottom: 20px;
}

.inputLogin input{
    text-align: center;
    width: 261px;
    height: 54px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color:  #AEAEAE;
    font-weight: 400;
    border: 1px solid #D7D7D7;
    border-radius: 4px;    
}

.buttonLogin{
    cursor: pointer;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 189px;
    height: 45px;
    background-color: #E7E7E7;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color:  #696969;
    font-weight: 400;
    border-radius: 9px;    
}


header{
    width: 375px;
    height: 80px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 22px;
    padding-right: 22px;
    position: fixed;
    z-index: 0;
    top: 0px;
    left: 0px;
    
    /* box-shadow: 0px 10px 10px 0px #000;*/
    /* margin-bottom: 50px; */
}

header img{
    width: 75px;
    height: auto;
}

header .iconPeople{
    font-size: 42px;
}

main{
    margin-top: 106px;
    margin-bottom: 106px; /*APAGAR*/
}

footer{
    width: 375px;
    height: 80px;
    background-color: #ffffff;  
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 22px;
    padding-right: 22px;
    position: fixed;
    z-index: 0;
    bottom: 0px;
    left: 0px;
}

footer input{
    background-color: white;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: black;
    font-style: normal;
    /* outline: none; */
    width: 270px;
}

footer input::placeholder {
    font-style: italic;
}

footer .sendButton{
    font-size: 26px;        
}

.outputSpace{
    display: flex;
    padding-left: 8px;
    padding-right: 8px;
    align-items: center;
    width: 375px;
    /* height: 40px; */
    margin-bottom: 4px;
    background-color: white;
    /* height: auto; */
    padding-top: 15px;
    padding-bottom: 15px;
}

/* .alotOfText{
    
} */

.output{
    width: 375px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: black;
}

.time{
    color: #aaaaaa;
    padding-right: 7px;
}

.joinAndLeftLayout{
    background-color: #dcdcdc;
}

.privateMessageLayout{
    background-color: #ffdede;
}

span{
    font-weight: 700;
}

.hide{
    display: none;
}


